* {
  scrollbar-width: thin;
  scrollbar-color: #607d8b transparent;
}

*::-webkit-scrollbar {
  height: 0px;
  width: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #607d8b;
  border-radius: 20px;
  border: transparent;
}

.chart p {
  text-transform: capitalize;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

input:-internal-autofill-selected {
  -webkit-appearance: menulist-button;
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}

.dark .card-reveal {
  background-color: #1e2123;
}
.dark .grey-text.text-darken-4 {
  color: white!important;
}
.info {
  background-color: #dceae9;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding: 30px;
}
.loadingWrap {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex {
  width: -webkit-fill-available;
  width: -moz-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex h2 {
    width: -webkit-fill-available;
		width: -moz-available;
    margin: 0;
    position: absolute;
    z-index: 2;
    background-color: #ffffffc4;
    padding: 0 3px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    font-size: 0.7rem;
    border-radius: 50%;
    line-height: 2.5;
    text-align: center;
}

span.batchToggle {
  cursor: pointer;
  position: sticky;
  top: 50px;
}

.metric-label, .metric-percentage {
  font-family: sans-serif;
}

.fbutton {
  position: sticky;
  bottom: 20px;
}

form.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

span.date {
  font-size: 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: none;
}
button.btn-large {
  width: -webkit-fill-available;
  width: -moz-available;
  border-radius: 10px;
  margin-top: -8px;
  min-width: 100px;
  color: black;
}

#search {
  height: 50px;
  background: transparent;
  border-radius: 0;
  padding-left: 10px;
}

#search:focus {
  font-size: 24px;
  font-weight: 400;
  color: #3e3e3e;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  top: 10px;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.cardHeader img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #607D8B;
  border-radius: 50%;
  padding: 5px;
}
.cardHeader span {
    cursor: pointer;
}
.block{
  margin-top: 60px;
}
#app {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/*
h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  margin-right: 30px;
}
*/
.grey.lighten-5 {
  background-color: rgb(48 61 68) !important;
  color: white;
}
span {
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  grid-template-rows: 50px;
  grid-template-areas: '. . .';
  padding-bottom: 10px;
  width: 100%;
}

.card section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px
}

.box-good {
  background-color: hsl(158, 85%, 41%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.box-needs-improvement {
  background-color: hsl(45, 97%, 73%);
}

.box-poor {
  background-color: hsl(359, 100%, 71%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card {
  margin: 1rem;
  background: white;
  -webkit-box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  padding: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 200px;
  max-width: 375px;
	width: 375px;
}

.card:hover {
  -webkit-box-shadow: 2px 8px 45px rgba(0, 0, 0, .25);
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .25);
  -webkit-transform: translate3D(0, -2px, 0);
  transform: translate3D(0, -2px, 0);
}

i.activator.material-icons.right:hover {
    background-color: #1a2327;
    color: #ffffff;
}
i.activator.material-icons.right {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 15px;
	background-color: #303d44;
	color: #e8e8e8;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 16px;
	cursor: pointer;
}
span.close {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2b2b2b;
    color: #e8e8e8;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

span.close:hover {
  background-color: #000;
  color: #fff;
}

.cardHeader {
  font-size: 2rem;
  width: 100%;
  color: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}


.tabs {
  text-align: center;
  margin-bottom: 20px;
}

.tabs .tab a {
  padding: 0 10px !important;
  color: hsl(200, 17%, 28%);
}

.tabs .tab a.active {
  background-color: #fbfbfb;
  color: #d60049;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#cardBody {
  margin: 0;
  width: 100%;
  min-height: 600px;
}
.git.circle {
    background-color: #161818;
    -o-object-fit: cover;
    object-fit: cover;
    border: solid transparent 2px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-clip: border-box;
}
.metrics {
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

section.CLS {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

section.FCP {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

section.FID {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

section.LCP {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
section.INP {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
section.TTFB {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fill-available;
  width: -moz-available;
}

.labels span {
  width: 67px;
  margin-left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.labels .material-icons {
  font-size: 18px;
}

div[data-title],
span[data-title]{
  position: relative;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

span[data-title]:hover::after,
span[data-title]:focus::after,
div[data-title]:hover::after,
div[data-title]:focus::after {
  z-index: 999;
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  background: hsl(197, 100%, 46%);
  color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 7px 7px;
  text-transform: lowercase;
}


.progress {
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: #ececec;
  margin: 30px;
}

div[hidden] {display: none!important;}

.progress .indeterminate {
  background-color: #E91E63;
}

span.networkType {
    font-size: 12px;
    margin: 0 auto;
    text-transform: none;
    text-align: center;
    display: block;
}

.active { display: block}

.periodDate {
  padding: 5px;
  border-radius: 2px;
  border-left: 5px solid #ffc107;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.periodDate span {
  font-weight: 600;
}
.periodDate p {
  margin: 0;
}
.history {
  margin: 50px 0 30px;
}


.modal.bottom-sheet {
  height: 100%;
  max-height: 100vh;
}

.history .center.container {
  display: grid;
  gap: 1rem;
}
div#HistoryApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
h4 {
  text-transform: capitalize;
}

#chartModals .modal .modal-footer,
#cruxModals .modal .modal-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: block;
  z-index: 2;
}

a.btn.modal-trigger.loadDeck {
  background-color: #2196f3;
}

a.btn.modal-trigger.loadHistory{
    background-color: hsl(158, 85%, 41%);
}
.card .card-reveal {
  font-size: .937rem;
}

div#chartdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div#chartdiv p {
  text-align: center;
  margin-bottom: -10px;
}

.chart {
  margin-bottom: 50px;
}
#chartModals .modal-content {
  background-color: white;
}

.tabs .indicator {
    background-color: #42a5f5;
}
.tabs .tab a.active {
    background-color: #ffffff;
    color: #006cc2;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #bbdefb14;
    outline: none;
}

section.undefined {
    display: none;
}
